<div class=gimstop>
<a href=https://gitlab.com/gims-developers/gims>gitlab</a>
{% if sourcename %}
| <a href="https://gitlab.com/gims-developers/gims/blob/master/docs/{{ sourcename[:-4] }}">page source</a>
{% endif %}
</div>
